<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	{% extends 'base.html' %}

{% block content %}
<h1>Página Inicial</h1>
<p>Bem-vindo à página inicial do meu site.</p>
{% endblock %}

    <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<script src="../static/script.js"></script>
</body>
</html>
